<% include ./partials/header %>
    
    <section id="homepage-main-section" class="wrapper">
        <h1><%= homeMainResult.title %></h1>
        <div>
            <article><%- homeMainResult.content %></article>
            <div><img src="/img/uploads/<%= homeMainResult.img %>" alt=""></div>
        </div>
    </section>

    <section id="products-section" class="wrapper">
        <% homeProductResults.forEach(result => { %>
            <figure>
                <a href="/product/<%= result.id %>">
                    <img src="/img/uploads/<%= result.img %>" alt="">
                    <figcaption><%= result.name %> - <%= result.price %>kr</figcaption>
                </a>
            </figure>
        <% }); %>
    </section>

<% include ./partials/footer %>