<% include ./partials/header %>
    <h1>Produkter</h1>

    <div id="product-categories-dropdown" class="wrapper">
        <div>Vælg Kategori</div>
        <ul>
            <% categoryResults.forEach(result => { %>
                <li><a href="/products/<%= result.id %>"><%= result.name %></a></li>
            <% }); %>
        </ul>
    </div>

    <section id="products-section" class="wrapper">
        <% results.forEach(result => { %>
            <figure>
                <a href="/product/<%= result.id %>">
                    <img src="/img/uploads/<%= result.img %>" alt="">
                    <figcaption><%= result.name %> - <%= result.price %>kr</figcaption>
                </a>
            </figure><div class="breaker"></div>
        <% }); %>
    </section>
<% include ./partials/footer %>